<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
	<dict>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.business</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright RemObjects Software, LLC 2002-2017. All Rights Reserved.</string>
		<key>NSMainNibFile</key>
		<string>MainMenu</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>wsdl</string>
					<string>WSDL</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>RODL.icns</string>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>application/xml+wsdl</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>WSDL</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>WSDL</string>
				</array>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSDocumentClass</key>
				<string>RodlDocument</string>
				<key>NSPersistentStoreTypeKey</key>
				<string>XML</string>
			</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>rodl</string>
					<string>RODL</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>RODL.icns</string>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>application/xml+rodl</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>RODL</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>RODL</string>
				</array>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSDocumentClass</key>
				<string>RodlDocument</string>
				<key>NSPersistentStoreTypeKey</key>
				<string>XML</string>
			</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>remoterodl</string>
					<string>remoteRODL</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>remoteRODL.icns</string>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>application/xml+remoterodl</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>remoteRODL</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>remoteRODL</string>
				</array>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSDocumentClass</key>
				<string>RodlDocument</string>
				<key>NSPersistentStoreTypeKey</key>
				<string>XML</string>
			</dict>
		</array>
		<!-- needed for RODL download -->
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
	</dict>
</plist>